version: '3.8'
services:
  mysqldb:
    image: mysql:8.0
    container_name: ecommerce-mysql-dev
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ecommerce_db
    ports:
      - "3307:3306"  # 注意：我们将容器的3306映射到你电脑的3307，防止和你电脑里自带的MySQL冲突
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: